/**
*
* {{ properCase name }}
*
*/

import React from 'react'
import PropTypes from 'prop-types'
// import styled from 'styled-components'

function {{ properCase name }} () {
  return (
    <div>
      <h2>Hello from {{ properCase name}}!</h2>
    </div>
  )
}

{{ properCase name }}.propTypes = {
  
}

export default {{ properCase name }}
